body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(251, 251, 251);
    margin: 0;
    
}

h1 {
    
    color: rgb(15, 136, 136);
    background-color: black;
    padding-bottom: 10px;
    padding-top: 20px;
    
    
}

h2 {
    font-family:'Courier New', Courier, monospace;
    color: rgb(56, 165, 42);

}
ul {
    color:rgb(80, 46, 2);
}

ol {
    color: rgb(79, 79, 19);
}

p {
    color:rgb(113, 86, 86);
    
}


.container {
    width: 80%;
    margin: 0 auto; 
}

img {
    max-width: 80%;
    height: auto;
}

header {
    text-align: center; 
}

section {
    float: left; 
    width: 60%; 
}

aside {
    float: right; 
    width: 35%; 
    margin-top: 20px; 
}

footer {
    clear: both; 
    text-align: center; 
}



