body {
    font-family: 'Courier New', Courier, monospace;
    background-color: brown;
    background-image: url(shawarma.jpg);
    margin: 0;
    
}

h1 {
    color: azure;
    background-color: black;
    border-radius: 5cm;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    color: brown;
}
ul {
    color:rgb(80, 46, 2);
}

ol {
    color: rgb(79, 79, 19);
}

p {
    color:rgb(113, 86, 86);
    
}